#custom-solutions {
  margin-top: 15rem;
  .custom__text {
    h2 {
      text-align: center;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 65px;

      color: #38394f;
    }
  }
  .no-gutters {
    position: relative;
    z-index: 3;
    top: 5rem;
  }
  .theme__left {
    &__steps {
      margin-left: 5rem;

      li {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 250%;
      }
      span:nth-child(1) {
        color: #38af43;
      }
      li:nth-child(1) {
        color: #38394f;
      }
      li:nth-child(n + 2) {
        color: #7c828d;
      }
    }
  }

  .install__theme {
    border-top: 4px solid #38af43;
    background: #ffffff;
    box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    h4 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 250%;

      /* identical to box height, or 45px */
      text-align: center;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 157.18%;

      /* or 22px */
      text-align: justify;

      color: #38394f;
      width: 73%;
      margin: 0 auto;
    }
  }
  // .gray-rectangle {
  //   .gray-rectangle {
  //     border-top: 37px solid;
  //     // width: 700px;
  //     // height: 37px;
  //     // text-align: center;
  //     // border-top: 37px solid #e5e5e5;
  //     // -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  //     // box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  //     // border-radius: 5px;
  //     // width: 639px;
  //   }
  //   .theme__middle__content {
  //     // width: 947px;
  //     // height: 435px;

  //     .theme__middle__content__rectangle img {
  //       // height: 435px;
  //       max-width: 100%;
  //       height: auto;
  //     }
  //   }
  // }
  .gray-border-one,
  .gray-border-two {
    border-top: 36px solid #e5e5e5;
  }
}
