#meet-team {
  .container {
    .team-block {
      height: 730px;
      margin-top: 5rem;

      position: relative !important;

      .team_left {
        img {
          position: absolute;
        }

        .member-3 {
          left: 80%;
        }
        .member-8 {
          top: 35%;
          left: -15%;
        }
        .member-9 {
          top: 80%;
          left: 350px;
        }
      }
    }
    .team_middle {
      text-align: center;
      position: relative;

      .member-4 {
        margin-bottom: 3rem;
        top: 15%;
      }
    }

    .team_middle {
      h4 {
        white-space: nowrap;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.255em;
        color: #38394f;
      }
    }
  }

  .team_right {
    height: 730px;

    img {
      position: absolute;
    }

    .member-5 {
      top: -5%;
      right: 100%;
    }
    .member-6 {
      top: 17%;
      left: 20%;
    }
    .member-7 {
      top: 50%;
      left: -90%;
    }
  }
}
