#meet-team {
  .container {
    .team-block {
      height: 730px;
      margin-top: 5rem;

      position: relative !important;

      img {
        position: absolute;
      }
      .team_left {
        .member-3 {
          left: 125px;
          top: -350px;
        }
        .member-8 {
          right: 57px;
          bottom: -250px;
        }
      }
    }
    .team_middle {
      text-align: center;
      position: relative;
      img {
        // position: absolute;
      }
      .member-4 {
        margin-bottom: 3rem;
        right: 180px;
        top: -250px;
      }
      .member-9 {
        right: 420px;
        top: 350px;
      }
      .member-7 {
        right: -100px;
      }
    }

    .team_middle {
      h4 {
        // white-space: nowrap;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 3rem;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.255em;
        color: #38394f;
      }
    }
  }

  .team_right {
    // height: 730px;

    img {
      // position: absolute;
    }

    .member-5 {
      top: -400px;
      right: 200px;
    }
    .member-6 {
      bottom: 5px;
      left: 94px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .team-block {
    transform: scale(0.5);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .team-block {
    transform: scale(0.5);
  }
}
