@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#top-jumbo .navbar {
  text-align: center;
  -webkit-box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.15);
  height: 63px;
}

#top-jumbo .container .navbar-brand {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

#top-jumbo .container .collapse .nav-item {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: black;
}

.container .left-container {
  margin-top: 7.5rem;
}

.container .left-container .left-container__info .left-container__info__text h1 {
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 77.89px;
  text-align: left;
  margin: 1.5rem 0;
}

.container .left-container .left-container__info .left-container__info__text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #7c828d;
}

.container .left-container .left-container__info .left-container__info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px 9px 25px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 9px 25px rgba(0, 0, 0, 0.15));
}

.container .left-container .left-container__info .left-container__info__form input {
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 350px;
  height: 51px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  margin: 2rem 0;
  border-color: transparent;
  padding: 1rem;
  color: #b9bec7;
}

.container .left-container .left-container__info .left-container__info__form button {
  border-color: transparent;
  color: white;
  background: #7e53fd;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 173px;
  height: 51px;
  font-family: "Open Sans";
  font-size: 14px;
}

.container .right-container {
  height: 350px;
  position: relative;
}

.container .right-container .video {
  z-index: 4;
  top: 29%;
}

.container .right-container .circle {
  z-index: 5;
  top: 59%;
}

.container .right-container .play {
  top: 71%;
  z-index: 6;
}

.container .right-container .polygon {
  top: -20%;
  z-index: 3;
}

.container .right-container .eclipse1 {
  right: 38%;
  top: 4%;
}

.container .right-container .eclipse2 {
  z-index: 1;
  left: 56%;
  top: 66%;
}

.container .right-container img {
  position: absolute;
}

#platforms .container .platforms-container {
  margin: 6rem 0;
}

#platforms .container .platforms-container .platforms-container__left h5 {
  color: #7c828d;
  font-size: 14px;
  font-family: Open Sans, condensed;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  text-align: left;
}

#platforms .container .platforms-container .platforms-container__right {
  padding: 1.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .right-container {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .right-container {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

#latest-projects {
  margin-top: 25rem;
}

#latest-projects .container-fluid .projects-container {
  width: 100%;
}

#latest-projects .container-fluid .projects-container .projects-container-projects__rectangle {
  background: -webkit-gradient(linear, left top, left bottom, from(#25293e), to(#38394f));
  background: linear-gradient(180deg, #25293e 0%, #38394f 100%);
  border-radius: 10px;
  height: 210px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#latest-projects .container-fluid .projects-container .projects-container-projects__rectangle .projects-container-projects__rectangle__text p {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#latest-projects .container-fluid .projects-container .projects-container-projects__rectangle .projects-container-projects__rectangle__portfolio {
  position: relative;
}

#latest-projects .container-fluid .projects-container .projects-container-projects__rectangle .projects-container-projects__rectangle__portfolio img {
  max-width: 100%;
  height: auto;
}

#latest-projects .container-fluid .button-box {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  padding: 10rem 0;
}

#latest-projects .container-fluid .button-box button {
  width: 173px;
  height: 51px;
  border: 1px solid #7e53fd;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #7e53fd;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .projects-container-projects__rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .projects-container-projects__rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

#meet-team .container .team-block {
  height: 730px;
  margin-top: 5rem;
  position: relative !important;
}

#meet-team .container .team-block img {
  position: absolute;
}

#meet-team .container .team-block .team_left .member-3 {
  left: 125px;
  top: -350px;
}

#meet-team .container .team-block .team_left .member-8 {
  right: 57px;
  bottom: -250px;
}

#meet-team .container .team_middle {
  text-align: center;
  position: relative;
}

#meet-team .container .team_middle .member-4 {
  margin-bottom: 3rem;
  right: 180px;
  top: -250px;
}

#meet-team .container .team_middle .member-9 {
  right: 420px;
  top: 350px;
}

#meet-team .container .team_middle .member-7 {
  right: -100px;
}

#meet-team .container .team_middle h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.255em;
  color: #38394f;
}

#meet-team .team_right .member-5 {
  top: -400px;
  right: 200px;
}

#meet-team .team_right .member-6 {
  bottom: 5px;
  left: 94px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .team-block {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .team-block {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

#custom-solutions {
  margin-top: 15rem;
}

#custom-solutions .custom__text h2 {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #38394f;
}

#custom-solutions .no-gutters {
  position: relative;
  z-index: 3;
  top: 5rem;
}

#custom-solutions .theme__left__steps {
  margin-left: 5rem;
}

#custom-solutions .theme__left__steps li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 250%;
}

#custom-solutions .theme__left__steps span:nth-child(1) {
  color: #38af43;
}

#custom-solutions .theme__left__steps li:nth-child(1) {
  color: #38394f;
}

#custom-solutions .theme__left__steps li:nth-child(n + 2) {
  color: #7c828d;
}

#custom-solutions .install__theme {
  border-top: 4px solid #38af43;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#custom-solutions .install__theme h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 250%;
  /* identical to box height, or 45px */
  text-align: center;
}

#custom-solutions .install__theme p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157.18%;
  /* or 22px */
  text-align: justify;
  color: #38394f;
  width: 73%;
  margin: 0 auto;
}

#custom-solutions .gray-border-one,
#custom-solutions .gray-border-two {
  border-top: 36px solid #e5e5e5;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .theme__left__steps {
    margin-left: 0 !important;
  }
  .gray-border-one {
    display: none;
  }
  .gray-border-two {
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .theme__left__steps {
    margin-left: 0 !important;
  }
  .gray-border-one {
    display: none;
  }
  .gray-rectangle {
    background-color: #e5e5e5;
  }
  .gray-border-two {
    height: 100%;
    width: 100%;
  }
  .gray-border-two img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#footer .footer__bg {
  position: relative;
  z-index: 1;
  background: #38394f;
  height: 480px;
}

#footer .footer__bg__content {
  text-align: center;
  margin-top: 10rem;
  position: relative;
}

#footer .footer__bg__content h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;
  color: white;
}

#footer .footer__bg__content button {
  z-index: 2;
  width: 173px;
  height: 51px;
  border: none;
  background: #7e53fd;
  -webkit-box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  /* identical to box height */
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f9fafc !important;
  overflow-x: hidden;
}

html {
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=styles.css.map */